.game-name {
    padding-right: 85%;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: rgb(39, 38, 38);
    height: 355px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}