* {
    margin: 0;
    padding: 0;
}

.played-the-most {
    padding-right: 65%;
}

.Update {
    padding-top: 50px;
}

.Images {
    padding-left: 38%;
    padding-top: 5px;
}

.icon {
    padding-right: 90%;
}

.footer {
    margin: 20px;
    background-image: url(https://img.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg);
}

.description {
    background-image: url(https://img.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg);
}

h1 {
    color: white;
}

body {
    background-color: rgb(60, 60, 60);
}