.played-the-most {
    padding-right: 65%;
}

.Update {
    padding-top: 50px;
}

.Images {
    padding-left: 38%;
    padding-top: 5px;
}

h1 {
    color: white;
}

body {
    background-color: rgb(60, 60, 60);
}